<h1>Explore which companies share officers and addresses</h1>
<p>It can be hard to tell how companies are related sometimes, especially when we don't have data on their structure.</p>
<p>This page is a bit of a cheat - we see who shares an address and then which officers they have in common.</p>
<p>It's not an exact relation (as lots of people might share a registrar as a secretary or use their accountant's address) but it can indicate some patterns.</p>

<h2>FAQs</h2>
<h3>Where is the data from?</h3>
<p>The data is all from OpenCorporates via their API. I've limited it to UK companies so that means the source is effectively Companies House.</p> 

<h3>What do the colours mean?</h3>
<p>Green = postcode, Blue = company, Pink = officer</p> 

<h3>Some of the data is wrong, or relates a company incorrectly</h3>
<p>THIS IS ONLY AN INDICATOR - you can't tell anything *for certain* from whether two companies share an address or an officer. It's up to you to exercise your judgement and do further work to confirm or deny your suspicions.</p>
