<h1>Credits</h1>

<p>Based on an earlier project of mine here: <a href="http://wikidata-family-tree.herokuapp.com">http://wikidata-family-tree.herokuapp.com</a></p>

<p>The graph rendering engine is Sigma.js</p>

<p>The data is all from the OpenCorporates API</p>
